*{
    /* 60% (Main Color): The dominant color that covers the majority of your website,
     typically used for backgrounds or large sections. */
--Main-color-- :#F4F4F9;
    /* 30% (Secondary Color): A complementary color that adds contrast and is used for sections,
     headers, or sidebars. */
--Secondrey-color-- :#2C3E50;
    /* 10% (Accent Color): The highlight color that draws attention to important elements like buttons,
     links, or calls to action. */
--Accent-Color-- : #FF7043;
--white--:#ffffff;
--Light-Grey--:#ECECEC;
}
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--Main-color--);
    margin: 0;
    padding: 0;
    color: var(--Secondrey-color--);
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: var(--Secondrey-color--); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--Accent-Color--); 
}

nav {
    background-color: var(--Secondrey-color--);
    border-bottom: 1px solid var(--Secondrey-color--);
    padding: 1em;
    text-align: center;
    scroll-snap-align: start;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    scroll-behavior: smooth;
    text-decoration: none;
    color: var(--white--);
    transition: all .2s;
}
nav ul li a:hover{
    color: var(--Accent-Color--);
}

.hero {
    /* background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,0)),url(../images/hero.avif) no-repeat center center; */
    background-size: cover;
    height: 65vh;
    color: var(--Secondrey-color--);
    text-align: center;
    padding: 20vh 0;
    scroll-snap-align: start;
}
.hero h1{
    font-size: 3.5rem;
}


.cta-button {
    background-color: var(--Accent-Color--);
    color: var(--white--);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: all .2s;
}
.cta-button:hover{
    background-color: var(--Secondrey-color--);   
}
.cta-button:click{
transition: all .5;
}
h2 {
    font-size: 3.5rem;
    padding: 5%;
    text-align: center;
    color: var(--Secondrey-color--);
}
#about{
    height: 100vh;
    scroll-snap-align: start;
}
#about p{
    padding: 5%;
    font-size: 1.5rem;
}

#portfolio{
    height: auto;
    scroll-snap-align: start;
}
#portfolio h3{
    padding-left: 5%;
}
.tag-list{
    margin: 0;
    padding-inline: 0;
    list-style: none;
}
.tag-list li{
    padding: 1rem;
    color: white;
    background-color: #333;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 1rem -.25rem;
}

.scroller{
    max-width: 600px;
    outline: 3px solid green;
}
.scroller_inner{
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
  
  
#services{
    height: 100vh;
    scroll-snap-align: start;
}

#contact{
    text-align: center;
    height: 90vh;
    scroll-snap-align: start;
}
.feedback-input {
    color:var(--Secondrey-color--);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid var(--Secondrey-color--);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:60%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid var(--Accent-Color--); }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 45%;
    background:var(--Accent-Color--);
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:var(--Secondrey-color--);
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:var(--Secondrey-color--); color: var(--white--); }


.service-card {
    background-color: #f9f9f9;
    border: 1
}

footer p{
    text-align: center;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}